<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>닭이 먼저냐 계란이 먼저냐</title>
		<!-- <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"> -->

		<!-- css -->
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/content.css">
		<link rel="stylesheet" href="/css/layout.css">
		<link rel="stylesheet" href="/css/component.css">
		<!-- //css -->

		<!-- script -->
		<script src="/js/jquery-1.11.3.min.js"></script>
		<script src="/js/jquery.easing.1.3.js"></script>
		<!-- //script -->
	</head>
	<body>
		<div id="wrapper">
            <div class="chat_wrapper">
                <div class="chat_top">
                    <div class="chat_info">
                        <div class="chat_img"></div>
                        <div class="chat_text">
                            <strong class="title gmarket_font">닭이 먼저냐 계란이 먼저냐</strong> 
                            <p class="num_pep">25</p>
                         </div>
                    </div>
                     <a href="#none" class="close_chat">채팅방 닫기</a>
                </div>
                <div class="chat_body">
                    <div class="chat_box">
                        <div class="chat other_msg">
                            <div class="profile"></div>
                            <div class="cont">
                                <strong class="nickname">김경민</strong>
                                <ul>
                                    <li><p>닭이 먼저지 ;</p></li>
                                    <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget est lorem ipsum dolor sit. Volutpat odio facilisis mauris sit amet massa. Commodo odio aenean sed adipiscing diam donec adipiscing tristique. Mi eget mauris pharetra et. Non tellus orci ac auctor augue. Elit at imperdiet dui accumsan sit. Ornare arcu dui vivamus arcu felis. Egestas integer eget aliquet nibh praesent. In hac habitasse platea dictumst quisque sagittis purus. Pulvinar elementum integer enim neque volutpat ac.</p><span class="date">오전 10:34</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="chat my_msg">
                            <div class="cont">
                                <ul>
                                    <li><p>뭐래</p></li>
                                    <li><p>계란이 먼저지 ;</p><span class="date">오전 10:34</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="chat other_msg">
                            <div class="profile"></div>
                            <div class="cont">
                                <strong class="nickname">최욱연</strong>
                                <ul>
                                    <li><p>뭐?</p><span class="date">오전 10:34</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="chat other_msg">
                            <div class="profile"></div>
                            <div class="cont">
                                <strong class="nickname">황윤서</strong>
                                <ul>
                                    <li><p>뭐?</p><span class="date">오전 10:34</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="chat my_msg">
                            <div class="cont">
                                <ul>
                                    <li><p>쏘리쏘리</p><span class="date">오전 10:34</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="chat other_msg">
                            <div class="profile"></div>
                            <div class="cont">
                                <strong class="nickname">김창민</strong>
                                <ul>
                                    <li><p>배고프다</p><span class="date">오전 10:34</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="chat other_msg">
                            <div class="profile"></div>
                            <div class="cont">
                                <strong class="nickname">황윤서</strong>
                                <ul>
                                    <li><p>뭐?</p></li>
                                    <li><p>나도</p><span class="date">오전 10:34</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="chat other_msg">
                            <div class="profile"></div>
                            <div class="cont">
                                <strong class="nickname">황윤서</strong>
                                <ul>
                                    <li><p>뭐?</p><span class="date">오전 10:34</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="chat other_msg">
                            <div class="profile"></div>
                            <div class="cont">
                                <strong class="nickname">황윤서</strong>
                                <ul>
                                    <li><p>뭐?</p><span class="date">오전 10:34</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="chat other_msg">
                            <div class="profile"></div>
                            <div class="cont">
                                <strong class="nickname">황윤서</strong>
                                <ul>
                                    <li><p>하이루</p><span class="date">오전 10:34</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat_bottom">
                    <div class="box">
                        <div class="chat_input">
                            <input type="text" name="" id="" title="채팅 내용을 입력해주세요." placeholder="메세지를 입력해주세요.">
                            <button type="submit">전송</button>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<script>
			$(function(){
                
                // 스크롤 항상 아래로 유지
                $('.chat_body').scrollTop($('.chat_body')[0].scrollHeight);

			});
		</script>
	</body>
</html>