.con_header { margin: 50px 0 35px; }
.con_header .location { display: flex; align-items: center; gap: 19px; margin-bottom: 20px; }
.con_header .location > li { position: relative; }
.con_header .location > li:after { content: ""; position: absolute; top: 2px; right: -12px; width: 5px; height: 9px; background: url(../img/content/location_arr.png)center center no-repeat; }
.con_header .location > li:last-child::after { display: none; }
.con_header .location > li > a { display: block; font-size: 14px; color: #666; }
.con_header > h2 { display: block; font-family:'Gmarketsans'; font-weight: 700; font-size: 36px; }

/****** 3dep 탭메뉴 ******/
.snb_menu_wrap ul { display: flex; }
.snb_menu_wrap ul li { flex: 1; }
.snb_menu_wrap ul li > a { display: block; height: 48px; line-height: 48px; font-family:'Gmarketsans'; font-weight: 500; font-size: 15px; color: #888; text-align: center; border: 1px solid #e9e9e9; }
.snb_menu_wrap ul li.active > a { color: #fff; background: var(--main-color); border-color: var(--main-color); }

.popu_cate_box { padding: 30px 30px; background: #f9f9f9; border-radius: 10px; }
.popu_cate_box strong { display: flex; align-items: center; gap: 5px; margin-bottom: 10px; font-weight: 700; font-size: 18px; }
.popu_cate_box strong > span { display: block; height: 24px; line-height: 24px; padding: 0 8px; font-weight: 600; font-size: 13px; color: #fff; background: var(--main-color); border-radius: 50px; }
.popu_cate_box > ul { display: flex; gap: 15px; }
.popu_cate_box > ul > li { flex: 1; }
.popu_cate_box > ul > li > a { display: block; padding: 15px ; background: #fff; border: 1px solid #e9e9e9; border-radius: 5px; }



/****** board_list_st1 ******/
.board_list_st1 .top { display: flex; justify-content: space-between; margin-bottom: 12px; }
/* 게시글 글 개수 */
.board_list_st1 .total { font-size: 14px; color: #444; }
.board_list_st1 .total > span { font-weight: 600; }
/* 게시글 정렬 */
.board_list_st1 .view_arr_selct > a.btn { display: block; font-size: 14px; color: #666; }
/* 게시글 리스트 */
.board_list_st1 .list_box { border-top: 1px solid #ccc; }
.board_list_st1 .list_box li a { display: flex; gap: 20px; padding: 25px 0; }
.board_list_st1 .list_box li a .lf { flex-shrink: 0; }
.board_list_st1 .list_box li a .lf .answer_count { display: flex; align-items: center; justify-content: center; width: 60px; height: 60px; background: #f9f9f9; border: 1px solid #e9e9e9; border-radius: 5px; }
.board_list_st1 .list_box li a .lf .answer_count > strong { line-height: 21px; font-size: 13px; color: #666; text-align: center; }
.board_list_st1 .list_box li a .lf .answer_count > strong > span { display: block; font-weight: 700; font-size: 20px; color: var(--main-color); }
.board_list_st1 .list_box li a .lf .like { display: flex; justify-content: center; margin-top: 10px; font-weight: 600; font-size: 14px; color: #999; }
/* 게시글 타이틀 */
.board_list_st1 .list_box li a .rg .title > strong { display: block; margin-bottom: 13px; font-weight: 700; font-size: 18px; color: #333; }
/* 게시글 설명 */
.board_list_st1 .list_box li a .rg .det_text { line-height: 22px; font-size: 15px; color: #666; }
/* 게시글 정보 > 작성자 프로필 */
.board_list_st1 .post_info_box { display: flex; justify-content: space-between; align-items: center; margin-top: 20px; }
.board_list_st1 .post_info_box .prof { display: flex; align-items: center; gap: 7px; }
.board_list_st1 .post_info_box .prof .prof_img { flex-shrink: 0; width: 20px; height: 20px; border-radius: 100%; overflow: hidden; background: #d9d9d9; }
.board_list_st1 .post_info_box .prof .prof_img > img { height: 100%; }
.board_list_st1 .post_info_box .prof > p { font-size: 14px; color: #555; }
/* 게시글 정보 > 조회수, 작성일 */
.board_list_st1 .info_list { display: flex; align-items: center; }
.board_list_st1 .info_list li { font-size: 14px; color: #666; }

/****** board_list_st2 ******/
.board_list_st2 .board_top { display: flex; align-items: flex-end; justify-content: space-between; margin-bottom: 20px; }
.board_list_st2 .board_top .total { font-size: 14px; color: #666; }
.board_list_st2 .board_top .total > span { font-weight: 600; color: #444; }
.board_list_st2 .board_top .search_box { display: flex; align-items: center; gap: 3px; }
.board_list_st2 .board_top .search_box select { width: 90px; height: 42px; padding: 0 6px; border: 1px solid #e9e9e9; border-radius: 5px; }
.board_list_st2 .board_top .search_box input { width: 260px; height: 42px; padding: 0 12px; border: 1px solid #e9e9e9; border-radius: 5px; }
.board_list_st2 .board_top .search_box button { width: 42px; height: 42px; font-size: 0; background: url(../img/content/search_icn.png) center center no-repeat var(--main-dark-color); border: 0; border-radius: 5px; }
.board_list_st2 .board { width: 100%; border-top: 1px solid #444; }
.board_list_st2 .board thead tr th { padding: 15px 5px; font-size: 14px; font-weight: 600;  border-bottom: 1px solid #e9e9e9; }
.board_list_st2 .board tbody tr td { padding: 20px 5px; font-size: 14px; color: #555; text-align: center;  border-bottom: 1px solid #e9e9e9; }
.board_list_st2 .board tbody tr td.title { text-align: left; }
.board_list_st2 .pagination { margin-top: 30px; }
.board_list_st2 .pagination ul { display: flex; align-items: center; justify-content: center; gap: 7px; }
.board_list_st2 .pagination ul li a { display: flex; align-items: center; justify-content: center; width: 35px; height: 35px; font-family:'Gmarketsans'; font-weight: 500; font-size: 15px; color: #555; }
.board_list_st2 .pagination ul li.btn a { width: 35px; height: 35px;  border: 1px solid #e9e9e9; border-radius: 100%; } 
.board_list_st2 .pagination ul li.active a { font-weight: 500; color: #fff; background: var(--main-color); border-color: 1px solid var(--main-color); border-radius: 100%; } 


/****** 일반 게시판 ******/
.basic_board_wrap { margin-top: 50px; }


/****** 채팅방 ******/
.chat_wrapper { position: relative; width: 100%; height: 100vh; overflow: hidden; }
.chat_wrapper .chat_top { width: 100%; padding: 20px 20px; background: var(--main-color); }
.chat_wrapper .chat_top .close_chat { position: fixed; top: 20px; right: 20px; display: block; width: 18px; height: 18px; font-size: 0; }
.chat_wrapper .chat_top .close_chat::after { content: ""; position: absolute; top: 7px; right: 0; width: 100%; height: 2px; background: #fff; transform: rotate(45deg); border-radius: 50px; }
.chat_wrapper .chat_top .close_chat::before { content: ""; position: absolute; top: 7px; right: 0; width: 100%; height: 2px; background: #fff; transform: rotate(-45deg); border-radius: 50px; }
.chat_wrapper .chat_info { position: relative; display: flex; gap: 10px; }
.chat_wrapper .chat_info .chat_img { display: block; width: 40px; height: 40px; border-radius: 100%; background: #fff; overflow: hidden; }
.chat_wrapper .chat_info .chat_text { padding-top: 3px; }
.chat_wrapper .chat_info .chat_text .title { display: block; font-size: 18px; font-weight: 500; color: #fff; }
.chat_wrapper .chat_info .chat_text .num_pep { display: block; margin-top: 5px; font-size: 14px; color: #fff; }
.chat_wrapper .chat_info .chat_text .num_pep { display: block; margin-top: 5px; font-size: 14px; color: #fff; }
.chat_wrapper .chat_body { display: flex; flex-wrap: wrap; flex-direction: column; align-content: flex-end; height: calc(100vh - 160px); padding: 10px 0 80px 0; background: #fff; border-top-left-radius: 25px; border-top-right-radius: 25px; overflow-y: auto; -ms-overflow-style: none; box-shadow: 0 0 17px rgba(0,0,0,.1); }
.chat_wrapper .chat_body::before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 400px; background: var(--main-color); z-index: -1;  }
.chat_wrapper .chat_body::-webkit-scrollbar { display: none; }
.chat_wrapper .chat_body .chat_box { padding: 20px 20px 0; flex-grow: 1; }
.chat_wrapper .chat_body .chat { display: flex; width: 100%;; gap: 7px; margin-bottom: 16px; }
.chat_wrapper .chat_body .chat:last-child { margin-bottom: 0; }
.chat_wrapper .chat_body .chat .profile { flex-shrink: 0; display: block; width: 35px; height: 35px; background: #ccc; border-radius: 100%; overflow: hidden; }
.chat_wrapper .chat_body .chat .cont .nickname { display: block; margin-bottom: 5px; font-size: 12px; font-weight: 500; color: #666; }
.chat_wrapper .chat_body .chat .cont > ul li { display: flex; justify-content: flex-start; align-items: flex-end; gap: 7px; margin-bottom: 5px; }
.chat_wrapper .chat_body .chat .cont > ul li:last-child { margin-bottom: 0; }
.chat_wrapper .chat_body .chat .cont > ul li p { padding: 8px 12px 10px 12px; font-size: 14px; line-height: 19px; border-radius: 18px; }
.chat_wrapper .chat_body .chat .cont > ul li .date { flex-shrink: 0; font-size: 11px; color: #888; }
.chat_wrapper .chat_body .chat.my_msg { justify-content: flex-end; }
.chat_wrapper .chat_body .chat.my_msg .cont > ul > li { flex-direction: row-reverse; }
.chat_wrapper .chat_body .chat.my_msg .cont > ul > li > p { color: #fff; background: var(--main-color); }
.chat_wrapper .chat_body .chat.other_msg .cont > ul > li > p { color: #555; background: #f5f5f5; }
.chat_wrapper .chat_bottom { position: fixed; bottom: 0; left: 0; width: 100%; background: #fff;}
.chat_wrapper .chat_bottom .box { padding: 12px 20px; }
.chat_wrapper .chat_bottom .chat_input { display: flex; gap: 5px; }
.chat_wrapper .chat_bottom .chat_input > input { display: block; width: 100%; height: 36px; padding: 0 15px; border: 1px solid #e9e9e9; border-radius: 50px; }
.chat_wrapper .chat_bottom .chat_input > button { flex-shrink: 0; width: 40px; height: 40px; font-size: 0; background: var(--main-color); border: 0; border-radius: 100%; cursor: pointer; background-repeat: no-repeat; background-position: center center; background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='6' width='2' height='16' rx='1' fill='white'/%3E%3Crect x='6.56079' width='2' height='9.2784' rx='1' transform='rotate(45 6.56079 0)' fill='white'/%3E%3Crect x='13.9751' y='6.56079' width='2' height='9.2784' rx='1' transform='rotate(135 13.9751 6.56079)' fill='white'/%3E%3C/svg%3E%0A"); }

/****** 로그인 ******/
.login_wrapper { max-width: 400px; width: 100%; margin: 0 auto; padding: 80px 0 120px; }
.login_wrapper .login_header { margin-bottom: 30px; }
.login_wrapper .login_header > strong { display: block; font-family:'Gmarketsans'; font-size: 32px; font-weight: 600; color: #444; text-align: center; }
.login_wrapper .login_input { margin-top: 20px; }
.login_wrapper .login_input input { display: block; width: 100%; height: 52px; margin-bottom: 7px; padding: 0 13px; border: 1px solid #e5e5e5; border-radius: 8px; }
.login_wrapper .login_input input:last-child { margin-bottom: 0; }
.login_wrapper .login_id_save { position: relative; margin: 13px 0 15px; }
.login_wrapper .login_btn { display: block; width: 100%; height: 52px; font-family:'Gmarketsans'; font-size: 18px; font-weight: 500; color: #fff; text-align: center; background: var(--main-color); border: 0; border-radius: 8px; }
.login_wrapper .id_password_find_join { display: flex; align-items: center; justify-content: center; gap: 18px; margin: 20px 0 60px; }
.login_wrapper .id_password_find_join li { position: relative; }
.login_wrapper .id_password_find_join li:after { content: ""; position: absolute; top: 2px; right: -9px; width: 1px; height: 11px; background: #e5e5e5; }
.login_wrapper .id_password_find_join li:last-child:after { display: none; }
.login_wrapper .id_password_find_join li a { font-size: 14px; color: #666; }
.login_wrapper .sns_login_box > strong { position: relative; display: block; font-size: 15px; font-weight: 700; color: #444; text-align: center; }
.login_wrapper .sns_login_box > strong:before { content: ""; position: absolute; top: 6px; left: 0; width: 33%; height: 1px; background: #e9e9e9; }
.login_wrapper .sns_login_box > strong:after { content: ""; position: absolute; top: 6px; right: 0; width: 33%; height: 1px; background: #e9e9e9; }
.login_wrapper .sns_login_box > ul { display: flex; justify-content: center; align-items: center; gap: 10px; margin-top: 30px; }
.login_wrapper .sns_login_box > ul li a { font-size: 0; }
.login_wrapper .sns_login_box > ul li a img { width: 50px; height: 50px; }



/****** 탭버튼 ******/
.tab_btn_st1 { width: 100%; padding: 8px; background: #f5f5f5; border-radius: 8px; }
.tab_btn_st1 ul { display: flex; gap: 5px; }
.tab_btn_st1 ul li { flex: 1; }
.tab_btn_st1 ul li a { display: block; height: 45px; line-height: 45px; font-family:'Gmarketsans'; font-size: 16px; text-align: center; border-radius: 10px; }
.tab_btn_st1 ul li.active a { font-weight: 500; color: #fff; background: var(--main-color); box-shadow: 0px 0px 8px rgba(0,0,0,0.15); }

/****** checkbox ******/
input.chkSt1 {position: absolute; top: 3px; left: 0; width: 14px; height: 14px; border:none; appearance:none; cursor:pointer; appearance:none; background:transparent;}
input.chkSt1 + label {position: relative; padding-left: 23px; font-size: 15px; color: #666;}
input.chkSt1 + label:before {content: ""; position: absolute; top: 1px; left: 0; width: 14px; height: 14px; border: 1px solid rgba(52,59,66,0.25);}
input.chkSt1:checked + label {font-weight: 500; color: #333;}
input.chkSt1:checked + label:before {content: ""; position: absolute; top: 1px; left: 0; width: 14px; height: 14px; background: #343b42; border: 1px solid #343b42;}
input.chkSt1:checked + label:after {content: ""; position:absolute; top:4px; left:7px; width:3px; height:8px; border-right:1px solid #fff; border-bottom:1px solid #fff; border-left:transparent; border-top:transparent; transform:rotate(40deg); }












