@import url('font/font.css');

::-moz-selection {
    background: var(--bk22);
    color: var(--main-color);
}
::selection {
    background: var(--bk22);
    color: var(--main-color);
}

:root {
    --header-height: 63px;
}

/***************** inner *****************/
.inner { max-width: 1200px; width: 100%; margin: 0 auto; padding: 0 30px; }

/***************** header *****************/
.header { border-bottom: 1px solid #e5e5e5; }
.thead { position: relative; z-index: 1; max-width: 1200px; width: 100%; margin: 0 auto; padding: 0 30px; }
.thead .top { display: flex; align-items: center; padding: 20px 0; justify-content: space-between; }
.thead .top .lf { display: flex; align-items: center; gap: 30px; }

.thead .top .rg { display: flex; align-items: center; gap: 20px; }

/***************** gtop *****************/
.thead .top .rg .gtop { display: flex; gap: 18px; }
.thead .top .rg .gtop li { position: relative; }
.thead .top .rg .gtop li:after { content: ""; position: absolute; top: 1px; right: -9px; width: 1px; height: 10px; background: #e1e1e1; }
.thead .top .rg .gtop li:last-child:after { display: none; }
.thead .top .rg .gtop li > a { display: block; font-size: 13px; color: #666; }

/***************** thead > search *****************/
.thead .top .rg .search_wrap .search { display: flex; align-items: center; height: 40px; padding: 0 15px; border: 1px solid #e5e5e5; border-radius: 50px; }
.thead .top .rg .search_wrap .search > select { width: 100px; border: 0; }
.thead .top .rg .search_wrap .search > input { width: 200px; padding-left: 15px; border: 0; }
.thead .top .rg .search_wrap .search > button { width: 16px; height: 16px; border: 0; font-size: 0; background-color: inherit; background-repeat: no-repeat; background-position: 1px 1px; background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 93 93' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='39' cy='39' r='34.5' stroke='%23444444' stroke-width='9'/%3E%3Cpath d='M66 66L88 88' stroke='%23444444' stroke-width='9' stroke-linecap='round'/%3E%3C/svg%3E%0A"); }

/***************** 사이트맵 *****************/
.smo_wrap .smo_btn { position: relative; display: block; width: 16px; height: 14px; font-size: 0; }
.smo_wrap .smo_btn:before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 2px; background: #333; }
.smo_wrap .smo_btn span:after { content: ""; position: absolute; bottom: 6px; left: 0; width: 100%; height: 2px; background: #333; }
.smo_wrap .smo_btn:after { content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 2px; background: #333; }


/***************** gnb *****************/
#gnb .lnb_list1 { display: flex; align-items: center; gap: 20px; }
#gnb .lnb_list1 > li > a { display: block; font-weight: 600; }

/***************** wrapper *****************/
#wrapper { overflow-y: hidden; }

/***************** main_content_wrap *****************/
.main_content_wrap { overflow: hidden; }

/***************** footer *****************/
.footer_wrap { padding: 40px 50px; background: #222; }
.footer_wrap p { font-size: 14px; color: #fff; text-align: center; }
.footer_wrap p.copyright { margin-top: 8px; font-size: 13px; color: #fff; text-align: center; opacity: .5; }
